.headline{
    display: grid;
    grid-template-rows: 40px 1fr ;
    row-gap: 32px;
    padding: 64px 45px;
    background-color: $c1J;
    &-btn{
        border: none;
        background-color: transparent;
        font-family: $popins;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        padding-right: 22px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            display: block;
            background: url('../../img/arrowRG.svg') center center / cover no-repeat;
        }
    }
    &_row-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_row-cart{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
    }
}