.bestsiling {
    padding: 64px 45px;
    background-color: $c1J;

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
    }

    &__item {
        &-cart {
            padding: 16px;
            background-color: $c1J;
            border: 1px solid $c1D;
            border-radius: 12px;
            margin-bottom: 32px;
        }

      
    }

    &__cart {
        &-wrapper{
            position: relative;
        }
        &-oldprice{
            font-family: $popins;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $c1C;
        }
        &-sale {
            position: absolute;
            left: 12px;
            top: 12px;
            z-index: 1;
            font-family: $popins;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: $c2A;
        }
        &-img {
            width: 100%;
            max-width: 237px;
            position: relative;
        }

        &-title {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            font-family: $popins;
            margin-top: 16px;
            display: block;
            margin-bottom: 4px;
        }

        &-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 15px;
            color: $c1B;
        }

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-price {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            font-family: $popins;
        }

        &-btn {
            border: 2px solid $c2B;
            padding: 6px 12px;
            border-radius: 12px;
            background-color: $c2A;
            color: $c1J;
            font-family: $popins;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
        }
    }


}