@import './style.scss';
@import './vars.scss';
@import '../components/header/header.scss';
@import '../components/menu//menu.scss';
@import '../components/categoryMenu/category.scss';
@import '../components/bestSilings/bestsiling.scss';
@import '../components/bestfromframes/bestfromfarmes.scss';
@import '../components/sectionHeadline/headline.scss';
@import '../components/ourcostumers/ourcostumers.scss';
@import '../components/blog/Blog.scss';
@import '../components/footer/footer.scss';
@import './commonstyle.scss';