@import './vars.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
button,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-transform: none;
}
 ul,li{
     list-style: none;
 }