@import './vars.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
button,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: block;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
ul,
li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1260px;
    padding: 0 330px;
    margin: 0 auto;
}